/* Importa fonte Open Sans */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* Define variáveis para Cores */
:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}

/* Zera configurações globais*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    margin: 0;
}

.titulo {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #14068e 20%, #ff5e69 60%, #ff8a56 80%, #ffa84b);
    -webkit-background-clip: text;
    background-clip: text;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 35px;
    margin-top: 40px;
}

.btn {
    width: 75%;
    padding: 3%;
    border-radius: 20px;
    z-index: auto;
    background: #ffa84b;
    background-image: linear-gradient(to right, #14068e 20%, #ff5e69 60%, #ff8a56 80%, #ffa84b);
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
}

.btn:hover {
    cursor: pointer;
}

.btn:focus {
    outline: none;
}